$color-white: #ffffff;
$color-dark-blue: #015697;
$color-lighter-blue: #8ca5cd;

@media only screen and (max-width: 480px){
  body {
    .container {
      grid-template-columns: 1fr;
    }
    .question-card {
      .question-details h2 {
        height: auto;
        font-size: 1.2rem;
      }
    }

    .wrapper {
      grid-template-columns: [col] 30% [col] 30%;
      grid-template-rows: [row] auto;

      span:nth-child(2), span:nth-child(3){
        width: 45%;
      }
    }
    .vote-success{
      width: 100%;
    }
    .choices-list{
      font-size: 16px;
      span:nth-child(2) {
        width: 30%;
      }
    }
    .save-btn{
      width: 100%;
      float: none;
    }
  }
}

body {
  background-color: $color-white;
  background-size: cover;
}

.main-container {
  min-height: 0;
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 50px 0;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  color: $color-white;
  width: 100%;

  .main-header {
    text-align: center;
    background: $color-dark-blue;
    max-width: 80vw;
    width: 100%;
    margin: 0 auto;
    height: 100px;
    padding: 12px;
  }
}

.question-card  {
  background: $color-dark-blue;

  .question-header {
    text-align: center;
    color: #ffffff;
    padding: 8px;

    h1 {
      margin: 0;
      padding: 0;
      font-weight: normal;
    }
  }

  .question-body {
    display: flex;
    flex-wrap: row;
    padding: 0 15px;
    border-bottom: 1px solid $color-white;
    min-height: 120px;
    height: auto;
  }

  .question-details {
    width: 100%;

    h2 {
      height: auto;
      font-size: 20px;
    }
    h3 {
      font-weight: normal;
      font-size: 18px;
    }
  }
  .question-footer {
    text-align: right;
    padding: 15px;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  width: 80%;
  margin: 1rem auto;
}


.choices-list{
  background: $color-dark-blue;
  height: 70px;
  color: $color-white;
  margin-bottom: 1.2px;
  transition: border-radius 0.1s ease-in-out 0s, letter-spacing 0.1s ease-in-out 0s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 22px;
  justify-content: flex-start;
  padding: 0 0.5rem;
  align-items: center;
  span {
    width: 55%;
    text-align: left;
    padding-left: 5%;
  }
  span:nth-child(2) {
    width: 30%;
  }
  &.active {
    opacity: 0.8;
  }

  &:hover{
    opacity: 0.8;
    cursor: pointer;
  }
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [col] 30% [col] 30% [col] 30% [col] 100px;
  grid-template-rows: [row] auto [row] auto [row];
  padding: 1rem 10%;
  margin: 20px 0;
}

.box {
  color: #fff;
  font-size: 150%;
}

.question {
  grid-column: col / span 4;
  grid-row: row ;
  background-color: $color-dark-blue;
  padding: 20px;
  color: $color-white;
}

.save-btn{
  float: right;
  margin-top: 1rem;
  width: 200px;
  height: 70px;
  padding: 20px;
  font-size: 16px;
}

.choices {
  grid-column: col / span 4;
  grid-row: row 2;
}

button {
  color: $color-white;
  border: 1px solid $color-white;
  background-color: $color-dark-blue;
  font-size: 12px;
  padding: 10px;
  width: 75px;
  text-decoration: none;
    &:hover,
    &:focus {
      color: #fff;
      background-color: $color-lighter-blue;
      border-color: $color-lighter-blue;
      cursor: pointer;
    }
}

.vote-success{

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50%;
  text-align: center;

  h1{
    text-align: center;
    background: $color-dark-blue;
    max-width: 80vw;
    color: $color-white;
    width: 100%;
    margin: 0 auto;
    border-top: 10px solid $color-white;
    padding: 20px;
  }

  a {
    margin: 5%;
    display: block;
  }
}
